# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/target
/.settings
/.project
/.classpath
/.DS_Store
/1
# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml
/bin